.date-picker-input {
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
  }
  .input{
    width: 100% !important;
    height: 40px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }
  
  .react-datepicker__input-container {
    width: 100%;
  }
  
  .react-datepicker__input-container input {
    width: 100%;
  }
  
  .date-picker-popper {
    z-index: 9999;
  }

  select {
    color: #ffffff !important;
  }


  select option {
    background-color: #1a202c;
    color: #ffffff;
  }
  
  /* Remove spinner from number inputs */
  input[type=number].no-spinner::-webkit-inner-spin-button, 
  input[type=number].no-spinner::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  input[type=number].no-spinner {
    -moz-appearance: textfield;
  }